body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
}
p{
  color: #8f8f8f;
}

/*navigation bar*/
.navbar {
   padding:0 0 4.5rem;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-nav{
  margin-left: 50%;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/*titile section*/
#title {
  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;
}
.title-img{
  width: 23%;
  transform:rotate(25deg);
  position: absolute;
}

/*features section*/
#features{
  position: relative;
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box{
  padding: 5%;
}
.icon{
  margin-bottom: 1rem;
  color: #ef8172;
}
.icon:hover{
  color:#ff4c68;
}

/*testimonial section*/
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}


/*press section*/
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/*pricing section*/
#pricing{
  padding: 100px;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col{
  padding: 3% 2%;
}

/*cta section*/


/*footer section*/
.footer-icon{
  margin: 20px 10px;
}

/*headings*/
.big-heading{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/*buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}

/*container*/
.container-fluid {
  padding: 7% 15%;
}

/*sections*/
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}
/*media querry*/
@media (max-width: 1000px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
    width:60%;
  }
}
